<div id="main-container" class="container" style="margin-bottom: 5rem;">
  <div class="row">
    <div class="col-md-12">
      <img alt="IOOS Regions Map" src="/images/bigmap.jpg" class="img-responsive center-block">
      <a href="https://www.pacioos.hawaii.edu/">
        <div class="point pacioos" title="<p>PacIOOS</p>Pacific Islands" data-toggle="tooltip" data-html="true"></div>
      </a>
      <a href="https://aoos.org/" target="_blank">
        <div class="point aoos" title="<p>AOOS</p>Alaska" data-toggle="tooltip" data-html="true"></div>
      </a>
      <a href="https://nanoos.org/" target="_blank">
        <div class="point nanoos" title="<p>NANOOS</p>Pacific Northwest" data-toggle="tooltip" data-html="true"></div>
      </a>
      <a href="https://cencoos.org/" target="_blank">
        <div class="point cencoos" title="<p>CenCOOS</p>Central and Northern California" data-toggle="tooltip" data-html="true"></div>
      </a>
      <a href="https://www.sccoos.org/" target="_blank">
        <div class="point sccoos" title="<p>SCCOOS</p>Southern California" data-toggle="tooltip" data-html="true"></div>
      </a>
      <a href="https://gcoos.org/" target="_blank">
        <div class="point gcoos" title="<p>GCOOS</p>Gulf Coast" data-toggle="tooltip" data-html="true"></div>
      </a>
      <a href="https://glos.us/" target="_blank">
        <div class="point glos" title="<p>GLOS</p>Great Lakes" data-toggle="tooltip" data-html="true"></div>
      </a>
      <a href="https://neracoos.org/" target="_blank">
        <div class="point neracoos" title="<p>NERACOOS</p>Northeast Atlantic" data-toggle="tooltip" data-html="true"></div>
      </a>
      <a href="https://maracoos.org/" target="_blank">
        <div class="point maracoos" title="<p>MARACOOS</p>Mid-Atlantic" data-toggle="tooltip" data-html="true"></div>
      </a>
      <a href="https://secoora.org/" target="_blank">
        <div class="point secoora" title="<p>SECOORA</p>Southeast Atlantic" data-toggle="tooltip" data-html="true"></div>
      </a>
      <a href="https://www.caricoos.org/" target="_blank">
        <div class="point caricoos" title="<p>CariCOOS</p>Caribbean" data-toggle="tooltip" data-html="true"></div>
      </a>
    </div>
  </div>
</div>